@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Heebo&display=swap');

$teal: rgb(118, 159, 226);
$orange: rgb(202,40,72);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(20,21,16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  h1 { 
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-size: 4rem;
  }
}

.App-link {
  color: $teal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  background:rgb(255,149,0);
  background-size: cover;
  min-height: 80vh;
}

nav {
  padding-top: 1rem;
}

a {
  color: $teal;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  &:active {
    font-weight: bold;
    color: $orange;
  }
}

.active {
  font-weight: bold;
  color: $orange;
}

/* Users Page Styles */

.users-page {
  h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.8);
  }

  .users-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5rem;
    width: 80%;
    margin: 1rem auto;
  }

  .user-box {
    background: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    width: 100%;
    &:first-of-type {
      border-top: 0.5rem solid $orange;
    }
    &:nth-of-type(even) {
      border-bottom: 0.5rem solid $orange;
    }
    &:nth-of-type(odd) {
      border-bottom:0.5rem solid $teal;
    }
    h2 {
      line-height: 4rem;
      padding: 3rem;
    }
    h3 {
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
    p {
      padding: 0.25rem;
      font-weight: bold;
    }
  }
}

/* Sign In Page Styles */

form {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  legend {
    font-size: 2rem;
    margin: 1rem;
  }
  .inner-form {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-items: space-between;
    width: 90%;
    margin: 1rem auto;
    font-size: 1.25rem;
    input[placeholder] {
      padding-left: 0.25rem;
      font-family: 'Comfortaa', cursive;
    }
    div {
      padding: 1rem;
    }
    label {
      padding-right: 0.25rem;
    }
    
  }
}

button {
  width: 8%;
  margin: 1rem auto;
  font-family: 'Comfortaa', cursive;
  background-color: $teal;
  color: white;
  padding: 0.75rem;
  border: none;
  outline: none;
  transition: all 0.2 ease-in-out;
  &:hover {
    font-style: italic;
    color: teal;
    background-color: white;
    transform: scale(1.1);
  }
  &:active {
    transform: translateY(0.5rem);
  }
}


/* Sign Out Page Styles */
.sign-out-page {
  background:  rgba(255, 255, 255, 0.6);
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* Footer Styles */
footer {
  background: $orange;
  color: white;
  padding: 2rem;
}